.container {
  position: relative;
}

.control {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.3);
  width: 300px;
  padding: 10px;
  border-radius: 10px;
}

.control .ant-form-item {
  margin-bottom: 5px !important;
}

.control label {
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 12px !important;
}

.control .ant-slider {
  margin: 0 !important;
}

.control .ant-input-number {
  width: 60px !important;
}

.control .ant-btn {
  font-size: 12px;
}

.title {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
}
